/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/ext/front
/ext/front_grid
/ext/overhead
/ext/overhead_grid
/ext/side
/ext/side_grid
/ext/unpack
/ext/**/*.o
/ext/**/*.so

/lib/**/*.so

/spec/examples.txt

/.ruby-version
/.ruby-gemset
